* {
  padding: 0;
  margin: 0;
}
#whiteBar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 112px;
  padding-right: 112px;
}
.whiteBarTxt {
  padding-right: 50px;
  font-weight: 400;
  font-size: 18px;
  font-family: sans-serif;
}
#aboutUsOrange {
  color: #f9995d;
}
#txt {
  font-weight: 700;
  font-size: 60px;
  color: #f9995d;
}
#companytxt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding-top: 40px;
  width: 70%;
}
#button {
  background-color: #f9995d;
  width: 176px;
  height: 53px;
  border: none;
  margin-top: 63px;
  border-radius: 2px;
}
.home a {
  text-decoration: none;
  color: black;
}
.about a {
  text-decoration: none;
  color: #f9995d;
}
.projects a {
  text-decoration: none;
  color: black;
}
.services a {
  text-decoration: none;
  color: black;
}
.contact a {
  text-decoration: none;
  color: black;
}
#divCompany {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  padding-right: 130px;
  height: 100%;
}
#button a {
  text-decoration: none;
  color: white;
}
#svg3{
  position: absolute;
  left: 462px;
  top: 365px;
  z-index: 100;
}
#svg4{
  position: absolute;
  left: 165px;
  top: 492px;
}

