* {
  margin: 0;
  padding: 0;
}
#whiteBar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 112px;
  padding-right: 112px;
}

#contactus {
  color: f9995d;
}
.whiteBarTxt {
  padding-right: 50px;
}
#body {
  background-image: url("../Hero.png");
  width: 100vw;
  height: 93vh;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
}
#buildingTxt {
  font-size: 72px;
  font-weight: 700;
  width: 700px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  justify-content: center;
  padding-left: 112px;
}
#button {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #f9995d;
  width: 216px;
  height: 54px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
}
#text {
  width: 448px;
  line-height: 34px;
  font-size: 17px;
}
