* {
  padding: 0;
  margin: 0;
}

#whiteBar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 112px;
  padding-right: 112px;
}
.whiteBarTxt {
  padding-right: 50px;
  font-family: sans-serif;
}
.home {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.about {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.projects {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.services {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.contact {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.home a {
  text-decoration: none;
  color: black;
}
.about a {
  text-decoration: none;
  color: black;
}
.projects a {
  text-decoration: none;
  color: black;
  color: #f9995d;
}
.services a {
  text-decoration: none;
  color: black;
}
.contact a {
  text-decoration: none;
  color: black;
}
#projectText {
  display: flex;
  justify-content: center;
}
#sideBarTitle {
  font-size: 36px;
  font-weight: 700;
}
#sideBar {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding-bottom: 154px;
}
#sideBarOrangeTxt {
  color: #f9995d;
  font-size: 24px;
  font-weight: 700;
}
#rectangle {
  width: 4px;
  height: 28px;
  background: #f9995d;
  margin-right: 16px;
}
#all {
  display: flex;
  flex-direction: "row";
  margin-top: 50px;
  padding-bottom: 20px;
}
.grayText {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #c2c7d6;
}
#img1 {
  width: 384px;
  height: 247px;
}
#img2 {
  width: 384px;
  height: 247px;
}
.imgRectangle {
  background-color: #f9995d;
  width: 384px;
  height: 84px;
  position: absolute;
  bottom: 203px;
}
.imgRectangle2 {
  background-color: #f9995d;
  width: 384px;
  height: 84px;
  position: absolute;
  bottom: 203px;
}
.recTangleTitle {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
.rectangleTxt {
  font-family: sans-serif;
  color: white;
  font-weight: 400;
  display: flex;
  padding-top: 12px;
}
#backButton {
  display: flex;
  width: 295px;
  height: 64px;
  background-color: #14171f;
  color: white;
  border: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
}
#nextButton {
  display: flex;
  width: 295px;
  height: 64px;
  background-color: #14171f;
  color: white;
  border: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
  margin-left: 89px;
}
#arrow1 {
  position: absolute;
  padding-right: 83px;
}
#arrow2 {
  padding-left: 10px;
}
#circle1{
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background-color: #F9995D;
  border: 2;
}
#circle2{
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
}
#circle3{
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
}
#circle4{
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
}
#circle5{
  border-radius: 50px;
  width: 16px;
  height: 16px;
  background-color: #C4C4C4;
}
